<%= form_with(model: ss) do |form| %>
  <% if ss.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ss.errors.count, "error") %> prohibited this ss from being saved:</h2>

      <ul>
        <% ss.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
