<p style="color: green"><%= notice %></p>

<h1>Sses</h1>

<div id="sses">
  <% @sses.each do |ss| %>
    <%= render ss %>
    <p>
      <%= link_to "Show this ss", ss %>
    </p>
  <% end %>
</div>

<%= link_to "New ss", new_ss_path %>
