<!DOCTYPE html>

<body>
  <div class="section">
    <div class="container">
      <div class="columns">
        <main class="column is-7">
          <div id='calendar'></div>
          {% load static %}
          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
          <script src="{% static 'schedule/app.js' %}"></script>
        </main>
        <aside class="column is-offset-1 is-4">
          <aside class="column is-4 is-offset-1 menu">
            <h1>hoge</h1>
            {% block side %}{% endblock %}
          </aside>
        </aside>
      </div>
    </div>
  </div>
</body>
</html>