.label:before {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 140px;
  height: 140px;
}


.item-label{
  content: "";
  display: inline-block;
  background-size: contain;
  width: 140px;
  height: 140px;
  background-image: url(./images/checked.png);
}

.item-input:checked + label {
  border: 3px solid #000;
  box-sizing: border-box;
}
.item-input {
  display:none;
}
