
.item1 {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 80px;
  height: 80px;
  background-image: url(./images/checked.png);
}

.item2 {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 80px;
  height: 80px;
  background-image: url(./images/checked.png);
}

.item-input:checked + label {
  border: 3px solid #000;
  box-sizing: border-box;
}
.item-input {
  display:none;
}
